# =========================================================================
# DATA LAKE - ARQUIVOS DE DADOS
# =========================================================================
data/
dados/
*.xlsx
*.parquet

# =========================================================================
# PYTHON & JUPYTER - CACHES E AMBIENTE VIRTUAL
# =========================================================================
# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Checkpoints automáticos
.ipynb_checkpoints

# =========================================================================
# Documentação interna da equipe
# =========================================================================
00.apoio/
00.relatorios/
Pitch_apresentacao.gdoc


# =========================================================================
# FERRAMENTAS
# =========================================================================
# Configurações locais de IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db
*.ini


.env
.env.local
*.pem
id_rsa

node_modules/
.venv/
venv/
__pycache__/